<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><span>Copyright &copy; {{ build.timestamp | dateToFormat('yyyy') }} <a href="https://github.com/CLCK0622">CLCK0622</a> | <a href="https://github.com/FRC-China">CNFRC Team</a></span></p>
    </div>
</footer>