<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <img src="/assets/images/website-banner-nobg.png" id="logo" />
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
