<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <p id="title">FRC-China 主页</p>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
