<nav class="nav nav--primary" role="navigation" tabindex="-1">
    {# Nav Links  #}
    <ul class="nav__menu">
        <li>
            <a href="https://wiki.firstrobotics.com.cn/"><span>维基</span></a>
        </li>
        <li>
            <a href="https://forum.firstrobotics.com.cn/"><span>论坛</span></a>
        </li>
        <li>
            <a href="https://forum.firstrobotics.com.cn/category/3/%E5%8D%9A%E5%AE%A2"><span>博客</span></a>
        </li>
    </ul>
</nav>
