<nav class="nav nav--primary" role="navigation" tabindex="-1">
    {# Nav Links  #}
    <ul class="nav__menu">
        <li>
            <a href="https://wiki.firstrobotics.com.cn/">维基</a>
        </li>
        <li>
            <a href="https://forum.firstrobotics.com.cn/">论坛</a>
        </li>
        <li>
            <a href="https://forum.firstrobotics.com.cn/category/3/%E5%8D%9A%E5%AE%A2">博客</a>
        </li>
    </ul>
</nav>
