.site-header {
    
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: var(--container-max-width);
        margin: 0 auto;
        padding: 2rem 1rem; // fallback
        padding: clamp(var(--spacing-x-small), 4vw, var(--spacing-x-large)) clamp(var(--spacing-medium), 3.75vw, var(--spacing-x-large));
    }

    #logo {
        height: 5em;
    }

    .nav--primary {
        
        ul {
            display: flex;
        }
        
        a {
            padding-left: 2em;
            text-decoration: none;
            // font-weight: bold;
        }

        span:hover {
            font-weight: bold;
        }
    }
}
