:root {
    --textColor: #1A1A1A;
    --primaryColor: #7134ff;
    --focusColor: #7231ff;
    --backgroundColor: #ffffff;
}

body {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)), url(https://www.firstinspires.org/sites/default/files/uploads/hero_headers/header-image_1.jpg);
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
        --backgroundColor: #1A1A1A;
        --textColor: #eeeeee;
        --primaryColor: #A15CFF;
    }
}
