:root {
    --textColor: #1A1A1A;
    --primaryColor: #7134ff;
    --focusColor: #7231ff;
    --backgroundColor: #ffffff;
}

body {
    // background-image: linear-gradient(to right, var(--backgroundColor), var(--backgroundColorgd), url(/public/assets/images/bg-image.jpg));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)), url(/assets/images/bg-image.jpg);
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }

    body {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(/assets/images/bg-image.jpg) !important;
    }

    :root:not([data-user-color-scheme]) {
        --backgroundColor: #1A1A1A;
        --textColor: #eeeeee;
        --primaryColor: #A15CFF;
    }
}
