/**
 * Font Face
 */
@font-face {
    font-family: 'Source Han Sans';
    font-weight: 400;
    src: url('/assets/fonts/SHS/SourceHanSansCN-Regular.otf');
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: 700;
    src: url('/assets/fonts/SHS/SourceHanSansCN-Bold.otf');
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: 900;
    src: url('/assets/fonts/SHS/SourceHanSansCN-Heavy.otf');
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: 100;
    src: url('/assets/fonts/SHS/SourceHanSansCN-Light.otf');
}

body {
    font-family: 'Source Han Sans' !important;
}